<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="edit = ${post.id != null}">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title th:text="${edit ? 'Edit Post' : 'Create Post'}"></title>
</head>
<body class="bg-dark">
<div th:replace="~{fragments:: navbar('create', '', false)}"></div>
<div class="wrapper">
    <div class="container py-3">
        <h2 class="mb-3 pb-3 heading" th:text="${edit ? 'Edit Post' : 'Create Post'}"></h2>

        <form id="post-form" method="post" th:action="@{${formAction}}"
              th:with="formAction = ${edit ? '/posts/edit/' + post.id : '/posts/create'}" th:object="${post}">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" th:errorClass="is-invalid" th:field="*{title}" type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('title')}"
                            th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="url">Image URL</label>
                <input class="form-control" id="url" th:errorClass="is-invalid"
                       th:field="*{url}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('url')}"
                            th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <p>Categories</p>
            <div class="mb-3 d-flex " style="height: 180px;">
                <div class="row p-0 m-0">
                    <div class="col col-md-4 col-lg-3 col-12 col-sm-6 form-check" th:each="category : ${categoryList}">
                        <input class="form-check-input" type="checkbox" th:value="${category.id}"
                               th:id="|category_${category.id}|" th:field="*{categories}">
                        <label class="form-check-label" th:for="|category_${category.id}|"
                               th:text="${category.name}"></label>
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" th:errorClass="is-invalid" th:field="*{description}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('description')}"
                            th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" th:field="*{isVisible}" id="isVisible" th:errorClass="is-invalid" th:value="*{isVisible}"
                       type="checkbox">
                <label class="form-check-label" for="isVisible">Visible</label>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('isVisible')}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('isVisible')}"
                            th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-outline-primary me-2" type="submit">Submit</button>
            <a class="btn btn-outline-warning" th:href="@{/posts}">Cancel</a>
        </form>
    </div>
</div>

</body>
</html>